# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# PyBuilder
target/

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# AWS CDK outputs
cdk.out/

# Ignore context with potential sensitive values
cdk.context.json

# dotenv (secrets)
.env
.env.*

# AWS credentials (just in case)
.aws/credentials
.aws/config

# Mac system files
.DS_Store

# Logs
*.log
